/* Variables */
$white:         #FFFFFF;
$primary:       #4089F7;
$text:          #37394C;
$grey-light:    #F3F6F8;
$grey-med:      #B7C3CD;
$grey-dark:     #8694A0;

$font-serif: Georgia, Times, "Times New Roman", serif;
$font-sans: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;


/* Mixins */
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}


/* Theme */
body {
    color: $text;
    font-family: $font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.open {
        overflow: hidden;

        nav .nav-wrapper {
            display: block;
            padding: 15vh 0 40px;
            position: fixed;
            width: 100%;
            left: 0;

            .social-links {
                display: block;
            }

            a {
                color: $white;
                display: block;
                font-size: 20px;
                margin: 30px 0;
                text-align: center;
                width: 100%;
            }
        }
    }
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 100px 0 0;
    text-align: center;
    text-transform: uppercase;
    strong {
        font-weight: 900;
    }
    &.mid {
        font-weight: 700;
    }
}
h2 {
    color: $grey-dark;
    font-size: 19px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 50px;
    margin-top: 8px;
    text-align: center;
}
h3 {
    font-family: $font-serif;
    font-size: 26px;
    font-weight: 600;
}

p {
    font-family: $font-serif;
    font-size: 21px;
    line-height: 34px;
}

a {
    color: $primary;
    text-decoration: underline;
    @include transition(all 0.2s ease-in-out);
    &:hover {
        color: $grey-dark;
    }
}

button, .button {
    background: $primary;
    border: none;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    @include transition(all 0.2s ease-in-out);

    &:hover {
        background: #397ce0;
        color: $white;
        text-decoration: none;
    }

    &.outline {
        background: $white;
        border: 1px solid $primary;
        color: $primary;
    }
}

ul {
    margin: 0;
    padding: 0;
    &.copy-style {
        padding-left: 20px;
        margin: 0 0 40px 20px;
        li {
            font-family: $font-serif;
            font-size: 21px;
            line-height: 34px;
        }
    }
}

form {
    text-align: center;
    input {
        border: 1px solid transparent;
        box-shadow: 0 1px 4px rgba(55, 57, 76, 0.1);
        margin: 0 14px 10px 0;
        padding: 14px;
        max-width: 340px;
        width: 100%;

        &:focus, &:active {
            border: 1px solid $primary;
            outline: none;
        }
    }
}

.lowercase {
    text-transform: none !important;
}

/* Layout */
header {
    background: $grey-light;
    padding: 34px 0 30px;
    margin-bottom: 90px;

    &.small {
        padding-bottom: 90px;
    }

    .brand {
        background: url(../img/logo.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        height: 66px;
        width: 177px;
    }

    nav {
        padding-top: 24px;

        .nav-wrapper {
            float: right;
            position: relative;
            z-index: 101;

            @media screen and (max-width: 1000px) {
                display: none;
            }

            .social-links {
                display: none;
            }
        }

        a {
            color: $text;
            font-size: 14px;
            font-weight: 800;
            text-decoration: none;
            text-transform: uppercase;

            &:not(:first-of-type) {
                margin-left: 50px;
            }

            &:hover {
                color: $primary;
                text-decoration: none;
            }
        }
    }

    .ctas {
        margin-top: 40px;
        text-align: center;
        .button:first-of-type {
            margin-bottom: 14px;
        }
        .button:last-of-type {
            margin-left: 14px;
        }
    }

    .leads {
        margin-top: 70px;
        h2 {
            color: $text;
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
}

footer {
    padding: 140px 0 90px;

    .social-links {
        margin-bottom: 26px;

        li {
            background: $primary;
            border-radius: 20px;
            color: $white;
            display: inline-block;
            font-size: 22px;
            height: 36px;
            list-style: none;
            padding: 3px 0;
            text-align: center;
            width: 36px;
            @include transition(all 0.2s ease-in-out);

            &:hover {
                background: #397ce0;
            }

            .steemit {
                background: url(../img/steemit.png) no-repeat;
                display: inline-block;
                width: 22px;
                background-size: 100%;
                height: 19px;
            }
        }
    }
    .legal {
        color: $grey-dark;
        font-size: 14px;
    }
}


/* Links */
.Links {
    ul.links {
        a {
            text-decoration: none;
        }
        li {
            background: $grey-light;
            border-left: 3px solid $text;
            // border-left: 3px solid $primary;
            color: $text;
            font-weight: 600;
            list-style: none;
            padding: 14px;
            margin-bottom: 20px;
            text-decoration: none;  
            text-transform: uppercase;
            @include transition(all 0.2s ease-in-out);

            &:hover {
                background: $grey-med;
            }

            .links-title {
                color: $primary;
                text-decoration: underline;
            }
            .links-desc {
                display: block;
                text-transform: none;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }
}


/* FAQ */
.FAQ {
    .faq-item {
        margin-bottom: 60px;
    }
}


/* Contact */
.Contact {
    .contact-links a {
        display: block;
        margin-bottom: 10px;
    }
}


/* Dashboard */
.Dashboard {
    background: $grey-light;

    header {
        margin-bottom: 0;
    }

    section {
        padding: 20px 0;
        h2 {
            margin-bottom: 15px;
        }
    }

    .stat {
        padding: 10px;
        .stat-wrapper {
            background: $white;
            padding: 20px 0;
            text-align: center;
            
            .stat-value {
                color: $primary;
                display: block;
                font-size: 22px;
                font-weight: 100;
            }
            .stat-key {
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                margin-bottom: 8px;
                font-weight: 600;
            }
        }
    }
}



/* Mobile */
#mobile-toggle {
    width: 36px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 102;
    display: none;
}
@media screen and (max-width: 1000px) {
    #mobile-toggle {
        display: block;
    }
}
#mobile-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: $primary;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    @include transition(0.2s ease-in-out);
}
body.open #mobile-toggle span {
    background: $white;
}
#mobile-toggle span:nth-child(even) {
  left: 50%;
}
#mobile-toggle span:nth-child(odd) {
  left:0px;
}
#mobile-toggle span:nth-child(1), #mobile-toggle span:nth-child(2) {
  top: 0px;
}
#mobile-toggle span:nth-child(3), #mobile-toggle span:nth-child(4) {
  top: 14px;
}
#mobile-toggle span:nth-child(5), #mobile-toggle span:nth-child(6) {
  top: 28px;
}

body.open .navbar-bg {
    border-radius: 0;
    height: 100%;
    width: 100%;
}
body.open #mobile-toggle span:nth-child(1), body.open #mobile-toggle span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.open #mobile-toggle span:nth-child(2), body.open #mobile-toggle span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body.open #mobile-toggle span:nth-child(1) {
  left: 2px;
  top: 7px;
}
body.open #mobile-toggle span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
body.open #mobile-toggle span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
body.open #mobile-toggle span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
body.open #mobile-toggle span:nth-child(5) {
  left: 2px;
  top: 18px;
}
body.open #mobile-toggle span:nth-child(6) {
  left: calc(50% - 5px);
  top: 18px;
}

.navbar-bg {
    @include transition(all 0.3s cubic-bezier(.3,1,.3,1));
    background: $primary;
    border-radius: 0 0 6000px 6000px;
    display: block;
    position: fixed;
    top: 0;
    height: 0;
    right: 0;
    width: 0;
    z-index: 100;
}
@media screen and (min-width: 1000px) {
    .navbar-bg {
        display: none;
    }
}